.grid{
  display:inline-block;
  background:black;
  width:3;
  height:3;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
